.custom-loader {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    background:
        radial-gradient(farthest-side, #766DF4 94%, #0000) top/10px 10px no-repeat,
        conic-gradient(#0000 30%, #766DF4);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
    animation: s3 0.7s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}

.search-container {

    position: relative;
}

