.card:first-child {
  margin-left: 20px; /* Adjust as needed */
}


.card {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  /* Optional: Add margin to the last card in each row to prevent it from sticking to the edge */
  .card:last-child {
    margin-right: 0;
  }

  .small-text {
    font-size: 0.8rem; /* Adjust the font size as needed */
  }